table, th, td {
    border: 1px solid;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    padding: 5px;
    margin: 5px;
}

li {
    padding-left: 3px;
    margin-left: 10px;
}

.plus_button, .minus_button {
    width: 25px;
}