table, th, td {
    border: 1px solid;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    padding: 5px;
    margin: 5px;
}

li {
    padding-left: 3px;
    margin-left: 10px;
}

.plus_button, .minus_button {
    width: 25px;
}

input {
    text-align: center;
}

div {
    flex-flow: row wrap;
    width: 100%;
}

form:not(#players_and_components_form) {
    display: flex;
    flex-flow: row wrap;
}

div.input-label-combo {
    width: 20%;
}

/* Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}